# movie recommender system

In [2]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
# read data
movie_data = pd.read_csv("movie_dataset.csv")

movie_data.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [6]:
# check the shape of the dataset
rows,columns = movie_data.shape

print(f"The dataset has {rows} rows and {columns} columns")

The dataset has 4803 rows and 24 columns

In [10]:
# describe the of the dataset
movie_data.describe().T

,count,mean,std,min,25%,50%,75%,max
index,4803.0,2.401000e+03,1.386651e+03,0.0,1200.50000,2.401000e+03,3.601500e+03,4.802000e+03
budget,4803.0,2.904504e+07,4.072239e+07,0.0,790000.00000,1.500000e+07,4.000000e+07,3.800000e+08
id,4803.0,5.716548e+04,8.869461e+04,5.0,9014.50000,1.462900e+04,5.861050e+04,4.594880e+05
popularity,4803.0,2.149230e+01,3.181665e+01,0.0,4.66807,1.292159e+01,2.831350e+01,8.755813e+02
revenue,4803.0,8.226064e+07,1.628571e+08,0.0,0.00000,1.917000e+07,9.291719e+07,2.787965e+09
runtime,4801.0,1.068759e+02,2.261193e+01,0.0,94.00000,1.030000e+02,1.180000e+02,3.380000e+02
vote_average,4803.0,6.092172e+00,1.194612e+00,0.0,5.60000,6.200000e+00,6.800000e+00,1.000000e+01
vote_count,4803.0,6.902180e+02,1.234586e+03,0.0,54.00000,2.350000e+02,7.370000e+02,1.375200e+04

### Check out missing data

In [11]:
movie_data.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [14]:
movie_data.dtypes

index                     int64
budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
cast                     object
crew                     object
director                 object
dtype: object

In [19]:
import pandas as pd

def fill_missing(df, columns, fill_value):
    """
    Fills null values in specified columns of a DataFrame with the given fill value.
    
    Args:
    df (pandas.DataFrame): The DataFrame containing the columns with null values.
    columns (list): A list of column names to fill null values in.
    fill_value (any): The value to fill the null values with.
    
    Returns:
    pandas.DataFrame: The modified DataFrame with null values filled.
    """
    for column in columns:
        df[column] = df[column].fillna(fill_value)
    return df

In [21]:
# filling numerical data

numerical_data = ['budget', 'revenue', 'runtime', 'vote_count']

movie_data = fill_missing(movie_data, numerical_data, movie_data[numerical_data].mean())

movie_data.isnull().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    0
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [23]:
# filling categorical data
categorical_data = [
    'genres',
    'homepage',
    'keywords',
    'original_language',
    'original_title',
    'overview',
    'production_companies',
    'production_countries',
    'spoken_languages',
    'status',
    'tagline',
    'title',
    'cast',
    'crew',
    'director',
    'release_date'
]

movie_data = fill_missing(movie_data, categorical_data, fill_value="Unknown")

# Fill null values with the mode
fill_missing(movie_data, 'release_date', movie_data['release_date'].mode()[0])

movie_data.isnull().sum()

KeyError: 'r'